{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('items_create') }}">
  <tr>
   <td>
      {{ form.colorcode.label }}
   </td>
   <td>
      {{ form.colorcode }}
   </td>
  </tr>  
 <tr>
    <td>
      {{ form.name.label }}
    </td>
    <td>
      {{ form.name }}
    </td>
    <td>
     <ul>
       {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
     </ul>
  </tr>
  <tr>
    <td>
      {{ form.type.label }}
    </td>
    <td>
      {{ form.type }}
    </td>
  </tr>
  <tr>
    <td>
      {{ form.lowink.label }}
    </td>
    <td>
      {{ form.lowink }}
    </td>
  </tr>
  <tr>
     <td colspan="2">
       <input type="submit" value="Add a new item"/>
     </td>
 	 </tr>
</form>
{% endblock %}
