{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('personal_items_create') }}">
<h3>Add new item to my collection</h3>
 <table>
  <tr>
   <td> {{ form.colorcode.label }} </td>
   <td> {{ form.colorcode }} </td>  
  <tr>
    <td> {{ form.name.label }} </td>
    <td> {{ form.name }} </td>
     <ul>
       {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
     </ul>
  </tr>
  <tr>
    <td> {{ form.ptype.label }} </td>
    <td> {{ form.ptype }} </td>
  </tr>
  <tr>
     <td colspan="2">
       <input type="submit" value="Add a new item"/>
     </td>
  </tr>
  </table>	 
</form>
{% endblock %}

